<!-- hero area start -->
<section class="hero__area hero__height green-bg-2 p-relative d-flex align-items-center">
   <div class="hero__shape d-none d-md-block">
      <span class="hero-shape-circle"></span>
      <img class="hero__shape-2" src="/static/img/hero/hero-shape-2.png" alt="">
   </div>
   <div class="container">
      <div class="row align-items-center">
         <div class="col-xxl-5 col-xl-6 col-lg-6 col-md-6">
            <div class="hero__content pt-110 p-relative">
               <!-- <span>25 Years Of Experience</span> -->
               <h3 class="hero__title"> Experience vibrant colors with our paints.</h3>
               <div class="hero__btn" hx-target="#main">
                  <a hx-get="/contact" hx-push-url="true" class="r-btn r-btn-yellow mr-5">get started <i
                        class="far fa-arrow-right"></i></a>
                  <a hx-get="/services" hx-push-url="true" class="r-btn r-btn-border">our services <i
                        class="far fa-arrow-right"></i></a>
               </div>
            </div>
         </div>
         <div class="col-xxl-7 col-xl-6 col-lg-6 col-md-6">
            <div class="hero__thumb d-none d-md-block">
               <div class="hero__thumb-1 text-end">
                  <img src="/static/img/hero/hero-1.png" alt="">
               </div>
               <!-- <div class="hero__thumb-2 d-none d-xl-block text-end">
                           <span>
                              <img src="/static/img/hero/hero-2.jpg" alt="">
                              <a href="https://youtu.be/-WRZI63emjs" class="play-btn popup-video"><i class="fas fa-play"></i></a>
                           </span>
                        </div> -->
            </div>
         </div>
      </div>
   </div>
</section>
<!-- hero area end -->

<!-- features area start -->
<section class="features__area pt-125 pb-130">
   <div class="container">
      <div class="row">
         <div class="col-xxl-5 col-xl-6 col-lg-7">
            <div class="features__wrapper-2 pr-55">
               <div class="section__title-wrapper-2 mb-25">
                  <span class="section__title-pre section__title-pre-2">Core Features</span>
                  <h2 class="section__title section__title-2">Discover Our Key Paint Product Offerings.</h2>
               </div>
               <p>Explore our extensive range of high-quality paint products, each meticulously crafted to bring vibrant
                  colors and lasting beauty to your projects.
                  From rich pigments to durable finishes, our offerings cater to every painting need, ensuring
                  unparalleled
                  results and satisfaction. Discover the perfect solution for your next painting endeavor and experience
                  the joy of creating with confidence and ease.</p>
               <div class="features__list mb-35">
                  <ul>
                     <li class="d-flex align-items-center">
                        <div class="features__list-icon mr-20">
                           <i class="far fa-check"></i>
                        </div>
                        <div class="features__list-text">
                           <p>Exceptional Coverage and Adhesion: Our paint offers
                              superior coverage and adhesion, effortlessly transforming surfaces with a smooth and even
                              finish.

                           </p>
                        </div>
                     </li>
                     <li class="d-flex align-items-center">
                        <div class="features__list-icon mr-20">
                           <i class="far fa-check"></i>
                        </div>
                        <div class="features__list-text">
                           <p>Long-lasting Durability: Experience exceptional durability with our paint,
                              resisting fading, chipping, and wear over time, ensuring lasting beauty for years to come.
                           </p>
                        </div>
                     </li>
                  </ul>
               </div>
               <div class="features__btn" hx-target="#main">
                  <a hx-get="/about" hx-push-url="true" class="r-btn r-btn-border-2">read more <i
                        class="far fa-arrow-right"></i></a>
               </div>
            </div>
         </div>
         <div class="col-xxl-7 col-xl-6 col-lg-3">
            <div class="features__item-wrapper p-relative">
               <div class="features__item-2 fea-1 yellow-bg text-center">
                  <div class="features__icon-2 mb-15">
                     <span>
                        <img src="/static/img/features/icon/fea-1.png" alt="">
                     </span>
                  </div>
                  <h3 class="features__title features__title-2">
                     <a hx-get="/services" hx-push-url="true">Commercial Paint</a>
                  </h3>
               </div>
               <div class="features__item-2 fea-2 green-bg-2 text-center">
                  <div class="features__icon-2 mb-15">
                     <span>
                        <img src="/static/img/features/icon/fea-2.png" alt="">
                     </span>
                  </div>
                  <h3 class="features__title features__title-2 white-color">
                     <a hx-get="/services" hx-push-url="true">Industrial Paint</a>
                  </h3>
               </div>
               <div class="features__item-2 fea-1 blue-bg text-center">
                  <div class="features__icon-2 mb-15">
                     <span>
                        <img src="/static/img/features/icon/fea-3.png" alt="">
                     </span>
                  </div>
                  <h3 class="features__title features__title-2 white-color">
                     <a hx-get="/services" hx-push-url="true">Residential Paint</a>
                  </h3>
               </div>


            </div>
         </div>
      </div>
   </div>
   </div>
</section>
<!-- features area end -->

<!-- about area start -->
<section class="about__area mb--240 p-relative z-index-111">
   <div class="container">
      <div class="row">
         <div class="col-xxl-7 col-xl-6 col-lg-6">
            <div class="about__thumb-3 w-img pr-20">
               <img src="/static/img/about/02/about-img-2.jpg" alt="">
            </div>
         </div>
         <div class="col-xxl-5 col-xl-6 col-lg-6">
            <div class="about__wrapper-2 pl-20 ">
               <div class="section__title-wrapper-2 mb-25">
                  <span class="section__title-pre section__title-pre-2">About Company</span>
                  <h2 class="section__title section__title-2">Superior Paint Manufacturing Solution Provider.</h2>
               </div>
               <p>At our paint manufacturing company, we're dedicated to crafting quality paints that inspire creativity
                  and transform spaces.
                  With a focus on sustainability and customer satisfaction, we offer environmentally friendly solutions
                  and exceptional service.
                  Choose us for your painting needs and experience the difference.</p>
               <div class="about__item-wrapper">
                  <div class="row">
                     <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <div class="about__item white-bg text-center mb-30">
                           <div class="about__icon mb-15">
                              <i class="flaticon-painting-bucket"></i>
                           </div>
                           <div class="about__content-2" hx-target="#main">
                              <h3 class="about__title-2">
                                 <a hx-get="/services" hx-push-url="true">Bulk Manufacturing</a>
                              </h3>
                              <p>Our paint manufacturing company specializes in bulk production, ensuring ample supply
                                 to meet large-scale demands efficiently.</p>
                              <a hx-get="/services" hx-push-url="true" class="link-btn">
                                 <i class="far fa-arrow-right"></i>
                                 <i class="far fa-arrow-right"></i>
                              </a>
                           </div>
                        </div>
                     </div>
                     <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6" hx-target="#main">
                        <div class="about__item white-bg text-center mb-30">
                           <div class="about__icon yellow mb-15">
                              <i class="flaticon-sketch"></i>
                           </div>
                           <div class="about__content-2">
                              <h3 class="about__title-2">
                                 <a hx-get="/services" hx-push-url="true">Environmental Compliance</a>
                              </h3>
                              <p>We are committed to adhering to strict environmental regulations and sustainable
                                 practices throughout our production processes.</p>
                              <a hx-get="/services" hx-push-url="true" class="link-btn">
                                 <i class="far fa-arrow-right"></i>
                                 <i class="far fa-arrow-right"></i>
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- about area end -->

<!-- counter area start -->
<section class="counter__area pt-340 pb-100 grey-bg p-relative z-index-1">
   <div class="counter__bg" data-background="/static/img/counter/map.png"></div>
   <div class="container">
      <div class="counter__wrapper p-relative z-index-1">
         <div class="row">
            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4">
               <div class="counter__item-wrapper mt-150">
                  <div class="counter__item text-center white-bg mb-30">
                     <div class="counter__icon mb-15">
                        <img src="/static/img/counter/counter-1.png" alt="">
                     </div>
                     <div class="counter__content">
                        <h3><span class="counter">920</span></h3>
                        <p>Project Completed</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4">
               <div class="counter__item-wrapper mt-35">
                  <div class="counter__item text-center white-bg mb-30">
                     <div class="counter__icon mb-15">
                        <img src="/static/img/counter/counter-2.png" alt="">
                     </div>
                     <div class="counter__content">
                        <h3><span class="counter">875</span></h3>
                        <p>Satisfied Clients</p>
                     </div>
                  </div>
                  <div class="counter__item counter__item-text text-center green-bg-2 mb-30">
                     <h3 class="counter__text white-color">10 <br> Years Of Experience</h3>
                  </div>
               </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4">
               <div class="counter__item-wrapper">
                  <div class="counter__item counter__item-text text-center yellow-bg mb-30">
                     <h3 class="counter__text">Professional <br> & <br> Trusted</h3>
                  </div>
                  <div class="counter__item text-center white-bg mb-30">
                     <div class="counter__icon mb-15">
                        <img src="/static/img/counter/counter-3.png" alt="">
                     </div>
                     <div class="counter__content">
                        <h3><span class="counter">8</span></h3>
                        <p>Awards Winning</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4">
               <div class="counter__item-wrapper mt-125">
                  <div class="counter__item text-center white-bg mb-30">
                     <div class="counter__icon mb-15">
                        <img src="/static/img/counter/counter-4.png" alt="">
                     </div>
                     <div class="counter__content">
                        <h3><span class="counter">4563</span></h3>
                        <p>Multi Color System</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- counter area end -->

<!-- services area start -->
<section class="services__area p-relative z-index-1 pt-130 pb-555">
   <div class="services__bg" data-background="/static/img/services/02/services-bg-2.jpg"></div>
   <div class="container">
      <div class="row">
         <div class="col-xxl-8 offset-xxl-2 col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
            <div class="section__title-wrapper mb-80 text-center">
               <span class="section__title-pre section__title-pre-white center">What We Offer</span>
               <h2 class="section__title section__title-white">Discover Our Paint Solutions</h2>
            </div>
         </div>
      </div>
      <div class="row" hx-target="#main">
         <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
            <div class="services__item services__item-2 p-relative mb-30">
               <div class="services__thumb w-img">
                  <img src="/static/img/services/services-1.jpg" alt="">
               </div>
               <div class="services__content services__content-2 text-center">
                  <div class="services__icon services__icon-2">
                     <i class="flaticon-paint-1"></i>
                  </div>
                  <h3 class="services__title">
                     <a hx-get="/services" hx-push-url="true">Classic Emulsions</a>
                  </h3>
                  <p>Good anti-mold, algae & fungal properties</p>
               </div>
            </div>
         </div>
         <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
            <div class="services__item services__item-2 p-relative mb-30">
               <div class="services__thumb w-img">
                  <img src="/static/img/services/services-2.jpg" alt="">
               </div>
               <div class="services__content services__content-2 text-center">
                  <div class="services__icon services__icon-2">
                     <i class="flaticon-varnish"></i>
                  </div>
                  <h3 class="services__title">
                     <a hx-get="/services" hx-push-url="true">Classic Satin</a>
                  </h3>
                  <p>Good exterior and interior rate</p>
               </div>
            </div>
         </div>
         <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
            <div class="services__item services__item-2 p-relative mb-30">
               <div class="services__thumb w-img">
                  <img src="/static/img/services/services-3.jpg" alt="">
               </div>
               <div class="services__content services__content-2 text-center">
                  <div class="services__icon services__icon-2">
                     <i class="flaticon-paint-2"></i>
                  </div>
                  <h3 class="services__title">
                     <a hx-get="/services" hx-push-url="true">Royal Silk</a>
                  </h3>
                  <p>Luminous finish and glowing appearance</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- services area end -->

<!-- faq area start -->
<section class="faq__area pb-115 pt-35">
   <div class="container">
      <div class="row">
         <div class="col-xxl-6 col-xl-6">
            <div class="faq__thumb ml--200">
               <img src="/static/img/faq/faq-1.png" alt="">
            </div>
         </div>
         <div class="col-xxl-6 col-xl-6">
            <div class="faq__wrapper pl-70">
               <div class="section__title-wrapper-2 mb-30">
                  <span class="section__title-pre section__title-pre-2">Faq</span>
                  <h2 class="section__title section__title-2">Frequently Asked Questions</h2>
               </div>
               <div class="faq__content">
                  <div class="accordion" id="accordionFaq">
                     <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                           <button class="accordion-button" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Data Visualization Improve Mobile Web ?
                           </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                           data-bs-parent="#accordionFaq">
                           <div class="accordion-body">
                              <p>Sed perspiciais unde omnis iste natus error voluptat accusantium dolore lautium totam
                                 rem aperiam eaque abillo inventore veritatis et quasi architeo beate vita dicta sunt
                                 explicaboemo enim ipsam voluptatem</p>
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              How To Create A Mobile App In Expo?
                           </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                           data-bs-parent="#accordionFaq">
                           <div class="accordion-body">
                              <p>Sed perspiciais unde omnis iste natus error voluptat accusantium dolore lautium totam
                                 rem aperiam eaque abillo inventore veritatis et quasi architeo beate vita dicta sunt
                                 explicaboemo enim ipsam voluptatem</p>
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Challenging Online Workshops Meetups ?
                           </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                           data-bs-parent="#accordionFaq">
                           <div class="accordion-body">
                              <p>Sed perspiciais unde omnis iste natus error voluptat accusantium dolore lautium totam
                                 rem aperiam eaque abillo inventore veritatis et quasi architeo beate vita dicta sunt
                                 explicaboemo enim ipsam voluptatem</p>
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                              Accessible Images For When Matter Most ?
                           </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                           data-bs-parent="#accordionFaq">
                           <div class="accordion-body">
                              <p>Sed perspiciais unde omnis iste natus error voluptat accusantium dolore lautium totam
                                 rem aperiam eaque abillo inventore veritatis et quasi architeo beate vita dicta sunt
                                 explicaboemo enim ipsam voluptatem</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- faq area end -->


<!-- testimonial area start -->
<section class="testimonial__area">
   <div class="container">
      <div class="testimonial__inner green-bg-2 p-relative z-index-1 fix">
         <div class="row">
            <div class="col-xxl-5 offset-xxl-1 col-xl-6 col-lg-6">
               <div class="testimonial__wrapper-2 pt-95 pr-85 pb-100">
                  <div class="section__title-wrapper-2 mb-30">
                     <span class="section__title-pre section__title-pre-2 section__title-pre-white">Our
                        testimonials</span>
                     <h2 class="section__title section__title-2 section__title-white">What Our Clients Say About Us</h2>
                  </div>
                  <div class="testimonial__quote-icon ">
                     <img src="/static/img/testimonial/02/testimonial-quote.png" alt="">
                  </div>
                  <div class="testimonial__slider-2 swiper-container">
                     <div class="swiper-wrapper">
                        <div class="testimonial__item-2 swiper-slide">
                           <div class="testimonial__content-2">
                              <p>Supra paints is the best paint ever </p>
                           </div>
                           <div class="testimonial__avater d-sm-flex">
                              <div class="testimonial__thumb testimonial__thumb-2 mr-30">
                                 <img src="/static/img/testimonial/testi-1.jpg" alt="">
                              </div>
                              <div class="testimonial__avater-info testimonial__avater-info-2">
                                 <h4>Dummy Tester</h4>
                                 <span>Painter</span>
                              </div>
                           </div>
                        </div>
                        <div class="testimonial__item-2 swiper-slide">
                           <div class="testimonial__content-2">
                              <p>Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque
                                 laudantium, totam rem aperiam, eaque ipsa abillo inventore veritatis et quasi
                                 architecto beataees vitae dicta sunt explicabo </p>
                           </div>
                           <div class="testimonial__avater d-sm-flex">
                              <div class="testimonial__thumb testimonial__thumb-2 mr-30">
                                 <img src="/static/img/testimonial/testi-2.jpg" alt="">
                              </div>
                              <div class="testimonial__avater-info testimonial__avater-info-2">
                                 <h4>David Warner</h4>
                                 <span>Web Developer</span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6">
               <div class="testimonial__img mt-45 ml-25 p-relative">
                  <div class="testimonial__shape">
                     <img class="testimonial__shape-1" src="/static/img/testimonial/02/testimonial-shape-1.png" alt="">
                  </div>
                  <img src="/static/img/testimonial/02/testimonial-img-1.png" alt="">
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- testimonial area end -->